[user]
  name = Djoume Salvetti
  email = djoume@taket.org
[color]
  ui = true
[alias]
  st = status
  ci = commit
  co = checkout
  delete-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
[core]
  excludesFile = ~/.gitignore
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = true
[init]
	defaultBranch = main
